@import "./sizes.scss";

.heroSection {
    min-height: 680px;
    padding: 1rem;
    padding-top: 9rem;
    position: relative;

    @media only screen and (min-width: $sm) {
        padding: 3rem;
        padding-top: 4rem;
    }

    @media only screen and (min-width: $l) {
        padding-top: 2rem;
    }
}

.heroTitle {
    font-size: clamp(3em, 8vw, 8em);
    font-weight: 900;
    line-height: .9;
    letter-spacing: -.05em;
    margin-bottom: 2rem;

    @media only screen and (min-width: $sm) {
        margin-bottom: 4rem;
    }

    @media only screen and (min-width: $l) {
        margin-bottom: 0;
    }

    .titleAnim {
        overflow: hidden;
    }

    span {
        display: block;
        margin-bottom: .2em;
    }
}

.heroMessage {
    margin: 0 auto;
    max-width: 460px;
    padding: 0;
    z-index: 0;

    @media only screen and (min-width: $sm) {
        margin: 0;
        margin-left: 0;
        margin-right: auto;
    }

    @media only screen and (min-width: $m) {
        margin: 0;
        margin-left: auto;
        margin-right: 3rem;
        margin-top: -6rem;
    }

    @media only screen and (min-width: $l) {
        margin-top: -2rem;
    }

    .pAnim {
        display: block;
        overflow: hidden;
    }

    p {
        margin: 0;
    }
}

.socialWrapper {
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--main);
    overflow: hidden;

    div {
        margin-right: .5rem !important;
    }
}
