@import "./sizes.scss";

.titleWrapper {
    left: 1rem;
    line-height: 2;
    position: absolute;
    top: 1rem;

    @media only screen and (min-width: $sm) {
        left: 3rem;
        top: 3rem;
    }

    .link {
        font-weight: 700;
    }
}

.navbar {
    align-items: center;
    display: flex;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 9;

    @media only screen and (min-width: $sm) {
        right: 3rem;
        top: 3rem;
    }

    .navList {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        @media only screen and (min-width: $m) {
            display: inline-block;
        }
    }

    .listItem {
        color: var(--main);
        display: inline-block;
        margin-right: 2rem;
        transition: color .6s;

        &:after {
            background-color: white;
            display: block;
            content: '';
            height: 2px;
            transition: width .3s;
            width: 0%;
        }

        &:hover {
            &:after {
                background-color: var(--main);
                display: block;
                content: '';
                height: 2px;
                transition: width .3s;
                width: 100%;
            }
        }

        .active {
            font-weight: 700;
        }
    }

    .menuBtn {
        background-color: var(--main);
        border-radius: 50%;
        display: inline-block;
        content: '';
        height: 2rem;
        transform: scale(.5);
        transition: background-color .6s;
        width: 2rem;
        z-index: 2;

        &:hover {
            cursor: pointer
        }
    }
}

.whiteNavbar {
    .listItem {
        color: white;
        transition: color .6s;
    }

    .menuBtn {
        background-color: white;
        transition: background-color .6s;
    }

    .menuDrawer {
        background-color: white;
        color: var(--main);

        .blogList {
            border-color: var(--main)
        }
    }
}

.menuDrawer {
    background-color: var(--main);
    color: white;
    content: '';
    display: block;
    height: 100%;
    max-width: 380px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100vw;
    z-index: 1;

    .drawerContent {
        left: 1rem;
        position: absolute;
        top: 6rem;
        width: calc(100% - 2rem);
    }

    .menuList {
        list-style: none;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;

        .menuListItem {
            display: flex;
            font-size: 4em;
            font-weight: 900;
            letter-spacing: -.05em;

            a:hover {
                &:after {
                    background-color: white;
                    display: block;
                    content: '';
                    height: 6px;
                    transition: width .3s;
                    width: 100%;
                }
            }

            a:after {
                background-color: white;
                display: block;
                content: '';
                height: 6px;
                transition: width .3s;
                width: 0%;
            }
        }
    }

    .secList {
        font-size: 1.5em;
        list-style: none;
        line-height: 1.5;
        margin: 0;
        margin-top: 3rem;
        padding: 0;

        li {
            display: flex;
        }

        a:hover {
            &:after {
                background-color: white;
                display: block;
                content: '';
                height: 3px;
                transition: width .3s;
                width: 100%;
            }
        }

        a:after {
            background-color: white;
            display: block;
            content: '';
            height: 3px;
            transition: width .3s;
            width: 0%;
        }
    }

    .blogList {
        border-top: 1px solid white;
        list-style: none;
        font-size: 1.1em;
        font-weight:  400;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        padding-top: 3rem;
    }
}

.copyright {
    bottom: 2rem;
    display: block;
    left: 1rem;
    margin-top: 5rem;
    position: absolute;
}
